/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
docker-compose.override.yml
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/.idea
.DS_Store
package.json
/storage/framework/cache/data/*
/storage/framework/cache/views/*
/storage/framework/sessions/*
/storage/app/*
/storage/logs/*
package-lock.json
.php-cs-fixer.cache
service-account.json
.env.testing
/tools/*
/tools/php-cs-fixer/*
/tools/php-cs-fixer/vendor/*

/caddy
frankenphp
frankenphp-worker.php
google_auth.json
