# General Values
# namespace:
# apiImage:

cert:
  apiDomain: graphapidev2.kanvas.dev

services:
  loadBalancer:
    name: graph
    appName: kanvas-api
    lbSSLCert: none

# namespace: memod-api
apiImage: 617498580299.dkr.ecr.us-east-1.amazonaws.com/

# PHP INIT Values
php:
  memoryLimit: 2128M


# Deployments Values
deployments:
  api:
    name: kanvas-api
    containerName: kanvas-api
  queue:
    name: queue
    containerName: queue
  notifications:
    name: notifications-queue
    containerName: notifications-queue
  socialQueue:
    name: kanvas-social
    containerName: kanvas-social
  # healthcheck:
  #   name: healthcheck
  #   containerName: healthcheck

# Services Values

